[task_1]
begin_page = http://health.qq.com
url_pattern= http://health.qq.com/a/.*
page_encoding = gb18030
thread_pool_size =  10
max_depth = 2
timeout = 4

[task_2]
begin_page = http://finance.qq.com
url_pattern= http://finance.qq.com/a/.*
page_encoding = gb18030
thread_pool_size =  20
max_depth = 2
timeout = 4




